<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>IntellFRS - {{ title }}</title>
    {% else %}
        <title>IntellFRS</title>
    {% endif %}

    <script type="text/javascript">
       function f()
       {
         $.ajax({
             url: 'http://127.0.0.1:5000/events',
             success: function(response) {
                //$(#div1).append(response);
                alert(response);
               var jsondata = jQuery.parseJSON(response);
                eventdetail(jsondata);
             },
             error: function(error) {
                 console.log(error);
             }
            });
       }

       function eventdetail(jsondata){

         for(var index=0;index<jsondata.length;index++)
         {

           var starttime=jsondata[index].start.split("T");
           var endtime=jsondata[index].end.split("T");
           var member=jsondata[index].attendees.length;
           alert(starttime[0]);
           var membername="<ol>";
            
           for(var i=0;i<member;i++){
             membername+="<li>"+jsondata[index].attendees[i].display_name+"</li>";
           }
           membername+="</ol>";
           var row="<tr><td>"+starttime[0]+"</td><td>"+starttime[1]+"-"+endtime[1]+"</td><td>"+jsondata[index].summary+"</td><td>"+jsondata[index].location.description+"</td><td>"+membername+"</td></tr>";
           $("#eventdata").append(row);
         }
       }
     </script>
   </head>

   <body onload="f()">
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">IntellFRS</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('attchart') }}">Attendance</a>
                <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th >Event</th>
              <th style="width: 40%;">Location</th>
              <th>Attendees</th>
            </tr>
            </thead>
          <tbody id="eventdata">
          </tbody>
          </table>
        </div>
      </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </body>
  </html>
